/* index.css */

body {
    font-family: Arial, sans-serif;
    background-color: #c7c1c1;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
  h3 {
    color: #777;
  }
  